/* Normal desktop :1200px. */
@media (min-width: 1201px) and (max-width: 1500px) {

}


@media screen and (min-width: 1300px) {
    .container {
        max-width: 1270px;
    }


}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {}




@media only screen and (max-width: 991px) {
    /* Category Page S  */
    .cat-two-items .box-news:nth-child(2) {
        padding-top: 0 !important;
    }
    .cat-two-items .box-news:nth-child(1) {
        border-bottom: none !important;
        padding-bottom: 0 !important;
    }
    /* Category Page E  */
    /* Hole Country Page S  */
    .cat-two-items .box-news:nth-child(2) {
        padding-top: 0 !important
    }
    .cat-two-items .box-news:nth-child(1) {
        border-bottom: none !important;
        padding-bottom: 0 !important;
    }
    /* Hole Country Page S  */



}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    /* Footer Section S  */
    .footer-link {
        display: flex;
        justify-content: center;
    }
    .footer-link a {
        margin: 0 10px;
    }
    /* Footer Section E  */
    /* Home page trending tag S  */
    .trending-tag {
        overflow-x: auto;
        white-space: nowrap;
    }
    /* Home page trending tag E  */
	


}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
        width: 450px;
    }
}

@media only screen and (max-width: 767px) {
    /* For Modal S  */
    .modal.fade.in {
        top: 5%;
    }
    .modal-content {
        padding: 10px 5px;
    }
    /* For Modal E  */

    /* Hole Country Page S  */
    .category-container .news-item-lead h2 {
        font-weight: 400;
    }
    .category-container .lead-news {
        border-bottom: none;
    }
    .category-container .news-item-box {
        display: flex
    }
    .category-container .news-item-box img {
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        height: 75px;
        object-fit: cover;
    }
    .category-container .news-item-box h2 {
        margin: 0 8px;
        width: 100%;
    }
    .category-container .box-news a {
        border-bottom: 1px solid var(--border-color-light)
    }
    .m-border-bottom-none {
        border-bottom: none !important
    }
    .lead-top {
        margin-bottom: 0
    }
    .cat-lead-container {
        border-bottom: none !important;
        margin-bottom: 0 !important;
    }
    /* Hole Country Page E  */

    /* Latest Page E  */
    .todays-news-title {
        font-size: 22px;
    }
    #snackbar {
        left: 32%;
    }
    .topic-title h1 {
        font-size: 24px;
    }
    .topic-title h1 .fa-tag {
        font-size: 22px;
    }
    .topic-title .fa-tag {
        font-size: 22px;
        margin-right: 10px;
        margin-top: 8px;
    }
    .topic-text img {
        width: 80px;
        margin-right: 10px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .topic-text p {
        display: block;
    }
    .topic-title ul li a {
        margin-right: 5px;
        margin-top: 10px;
    }
    .topic-content .topic-content-img img {
        width: 110px;
        height: 70px;
        margin-left: 10px;
    }
    .topic-content .topic-content-text a {
        font-size: 19px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .topic-content-text time {
        margin-bottom: 0;
    }
    .m-justify-content-center {
        justify-content: center !important;
    }
    /* Latest Page E  */

    /* SearchResult page S  */
    .subcategories p {
        line-height: 2.1;
    }
	.MenuSrcResBody {
		font-size:14px;
		padding-bottom: 10px;
	}
	.news-details p {
		font-size: 15px;
		line-height: 26px;
	}


    /* @media only screen and (min-width: 480px) and (max-width: 767px) {} */
    /* below css was in this media query  */
    /*.container {
        width: 450px;
    }*/
    /* SearchResult page E  */

    /* Trending Page S  */
    .topic-text-con {
        text-align: unset !important;
    }
    /* Trending Page E  */


    /* Footer Section Start  */
    .footer-link {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }
    .footer-link a {
        margin: 0 10px;
    }
    .footerNewLinks a {
        margin: 0 10px;
        margin-bottom: 5px;
    }
    .footerNewAddress p {
        margin: 0 3px;
        margin-bottom: 10px;
    }
    .ownerSection {
        display: inline;
        text-align: center;
    }
    .ownerSection p {
        padding-bottom: 10px;
        font-size: 14px;
    }
    .footerText p {
        font-size: 13px;
    }

    /* @media only screen and (min-width: 480px) and (max-width: 767px) {} */
    /* below 5 css line was in this media query  */
    /*.container {
        width: 450px
    }*/
	.footer-link {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }
    .footer-link a {
        margin: 0 10px;
    }
    .footerNewLinks a {
        margin: 0 10px;
        margin-bottom: 5px;
    }
    .footerNewAddress p {
        margin: 0 3px;
        margin-bottom: 10px;
    }
    .footer-bottom {
        padding-top: 20px;
    }
    /* Footer Section End  */
    
    /* Home page trending tag Start  */
    .trending-tag {
        overflow-x: auto;
        white-space: nowrap;
    }
    /* Home page trending tag End  */



}


@media only screen and (max-width: 576px) {
	/* Index page css S */
	.news-item-lead h2 {
		padding: 0px 10px;
	}
	.lead-below-item {
		border-right: 0px;
		padding-top: 5px;
	}
	.lead-below-item a {
		border-bottom: 1px solid #f1f1f1;
	}
	/* Index page css E */
    /* Hole Country Page S  */
    .news-item-lead {
        margin: 0 -15px;
        padding: 0px;
    }
    .box-news {
        margin: 3px 0px;
    }
    .news-item {
        padding-bottom: 6px !important;
    }
    .cat-two-items {
        padding: 0px 0px;
    }
    /* Hole Country Page E  */

    /* Footer Section Css start  */
    .footer-bottom {
        padding-top: 20px;
    }
    .f_logo a {
        text-align: center;
    }.f_logo p {
        font-size: 14px;
    }
    .footer_contact p, .footer_service p, .footer_social p {
        padding-top: 5px;
    }
    .footer_social {
        text-align: center !important;
    }
    .footer_social a {
        justify-content: space-between;
    }
    .footer_social h5::after {
        right: 33%;
    }
    /* Footer Section Css End  */



}